<noscript>
    <!-- Redirect to /no-script if the page cannot load scripts -->
    <meta http-equiv="refresh" content="0; url=/no-script" />
</noscript>

<!-- Old social stuff -->
<!-- 

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
<meta name="description" content="Framework - Your way to track your dog.">
<meta itemprop="name" content="Framework">
<meta itemprop="description" content="Framework - Your way to track your dog.">
<meta itemprop="image" content="public/static/header.jpg">
<meta property="og:url" content="">
<meta property="og:type" content="website">
<meta property="og:title" content="Framework">
<meta property="og:description" content="">
<meta property="og:image" content="public/static/header.jpg">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Framework">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="public/static/header.jpg">
<meta name="description" content="" />
<link rel="icon" href="/public/static/favicon.ico" type="image/x-icon" />
<meta name="author" content="The Framework Team" />

-->

<!-- Auto refresh and push to https:// if not accessed via this -->
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<title><%= title %> | Framework</title>

<!-- Ext Libraries -->
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/css/all.min.css" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@latest/dist/js/bootstrap.bundle.min.js"crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@latest/dist/css/bootstrap.min.css">

<!-- Extra header options -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">